
/****** Ivan Ruzbel	Feliz Romero 16-MIIN-1-178 Seccion 0541******/

CREATE DATABASE [DBBodega]
 
GO
USE [DBBodega]
GO

CREATE TABLE [dbo].[articulos](
	[ArticuloID] [int] NOT NULL,
	[Nombre_Articulo] [varchar](20) NULL,
	[Cantidad] [int] NULL,
	[Precio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticuloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ordenes]    Script Date: 8/4/2018 1:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ordenes](
	[Orden_id] [int] NOT NULL,
	[Articulo_id] [int] NULL,
	[Articulo] [varchar](20) NULL,
	[Cantidad] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[suplidor]    Script Date: 8/4/2018 1:09:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[suplidor](
	[Suplidor_id] [int] NOT NULL,
	[Articulo_id] [int] NULL,
	[Nombre] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Suplidor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[articulos] ([ArticuloID], [Nombre_Articulo], [Cantidad], [Precio]) VALUES (1, N'Coca Cola', 600, 50)
INSERT [dbo].[articulos] ([ArticuloID], [Nombre_Articulo], [Cantidad], [Precio]) VALUES (2, N'Pepsi', 5, 100)
INSERT [dbo].[articulos] ([ArticuloID], [Nombre_Articulo], [Cantidad], [Precio]) VALUES (3, N'7up', 500, 30)
INSERT [dbo].[ordenes] ([Orden_id], [Articulo_id], [Articulo], [Cantidad]) VALUES (1, 1, N'Coca Cola', 10)
INSERT [dbo].[ordenes] ([Orden_id], [Articulo_id], [Articulo], [Cantidad]) VALUES (2, 2, N'Pepsi', 20)
INSERT [dbo].[ordenes] ([Orden_id], [Articulo_id], [Articulo], [Cantidad]) VALUES (3, 3, N'7up', 30)
INSERT [dbo].[suplidor] ([Suplidor_id], [Articulo_id], [Nombre]) VALUES (1, 1, N'Bepensa')
INSERT [dbo].[suplidor] ([Suplidor_id], [Articulo_id], [Nombre]) VALUES (2, 2, N'Pepsi')
INSERT [dbo].[suplidor] ([Suplidor_id], [Articulo_id], [Nombre]) VALUES (3, 3, N'Bepensa')
ALTER TABLE [dbo].[ordenes]  WITH CHECK ADD FOREIGN KEY([Articulo_id])
REFERENCES [dbo].[articulos] ([ArticuloID])
GO
ALTER TABLE [dbo].[suplidor]  WITH CHECK ADD FOREIGN KEY([Articulo_id])
REFERENCES [dbo].[articulos] ([ArticuloID])
GO
USE [master]
GO
